* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 70%;
    height: 61%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 2%; 
}


.container__contenido {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    padding: 3vw;
}

.container__boton {
    border-radius: 1vw;
    background: #1875E8;
    padding: 1vw 1.5vw;
    width: 100%;
    font-size: 1.5vw;
    font-weight: 700;
    border: none;
    margin-top: 2vw;
}

.container__boton:disabled {
    background: #898989;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2vw;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2vw;

    
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4vw;
    padding-bottom: 1vw;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__parrafo {
    font-size: 1.85vw;
    font-weight: 400;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#modalTitle {
    font-size: 24px;
    color: #1875E8;
}

#modalMessage {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}

.close-button {
    padding: 10px 20px;
    background-color: #1875E8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.close-button:hover {
    background-color: #1354A5;
}
